<html>

<head>
    <!-- Mobile specific metas ===========================-->

    <title>Job Board|Home</title>
    <meta charset="utf-8">
    <meta name="author" content="Job board">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <% if(data != undefined && data != null){ %>
        <% for(var i = 0; i < Math.min(1, data.length); i++ ){ %>
            <% if(data[i].user_image == undefined){ user_image = '/new-twitter-default-image.jpg';} else { user_image = data[i].user_image;} %>
                <% if(data[i].job_title){ %>
                    <meta property="og:url" content="https://onlyremotejobs.com/job/<%= data[i].id + '/' + data[i].job_title.replace(/ /g, '-').toLowerCase() %>"
                    />
                    <% } %>
                        <meta property="og:type" content="article" />
                        <meta property="og:app_id" content="448806832131695" />
                        <meta property="og:title" content="<%= data[i].job_title %>" />
                        <meta property="og:description" content="<%= data[i].about_company %>" />
                        <meta property="og:site_name" content="http://onlyremotejobs.com" />
                        <meta property="og:image" content="<%= img_path %><%= user_image %>" />
                        <meta property="og:image:secure_url" content="<%= img_path %><%= user_image %>" />
                        <meta property="og:image:url" content="<%= img_path %><%= user_image %>" />
                        <meta name="twitter:site" content="@Promact2017">
                        <meta name="twitter:creator" content="@">
                        <meta name="twitter:title" content="<%= data[i].job_title %>">
                        <meta name="twitter:description" content="<%= data[i].about_company %>" />
                        <meta name="twitter:card" content="summary">
                        <meta name="twitter:image:src" content="<%= img_path %><%= user_image %>">

                        <% } } %>
                            <base href="<%= baseHref %>">
                            <!-- Mobile specific metas ===========================-->
                            <meta name="viewport" content="width=device-width, initial-scale=1">
                            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                            <!-- Favicon <!-- Mobile specific metas ===========================-->
                            <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
                            <!-- Google Web Fonts <!-- Mobile specific metas ===========================-->
                            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
                            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
                            <!-- Css Base And Vendor  <!-- Mobile specific metas ===========================-->
                            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                            <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
                            <!-- Site Style <!-- Mobile specific metas ===========================-->
                            <link rel="stylesheet" href="/css/dist/style.css">

        
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <a href="/" class="logo">
                        <img src="<%= img_path %>/assets/logo.png" class="img-responsive">
                    </a>
                <!-- End Logo -->
                <a class="custom-btn head-btn" href="/add">
                        Post a Job : $<%= baseprice %> for 30 days
                    </a>
                <!-- End Custom-Btn -->
            </div>
            <!-- End container -->
        </header>
        <!-- End Header -->